body:after {
  display: none;
  content:
    url(../images/background1.gif)
	url(../images/background2.gif)
	url(../images/background3.gif)
	url(../images/background4.gif)
	url(../images/background5.gif)
	url(../images/background6.gif)
	url(../images/background7.gif)
	url(../images/background8.gif)
    url(../images/background9.gif)
	url(../images/background10.gif)
	url(../images/background11.gif);	  
}


.text {
	position: absolute;
	display: none;
	opacity: 0;
	top: 346pt;
	left: 0pt;	
}

.text p {
	font-family: sans-serif;
	font-style: italic;
	font-size: 200%;
	margin: 0;
	position: absolute;
	top:10pt;
	left:20pt;

}

.p1 {
	font-family: Calibri;
	color: #222;
	font-weight: bold;
	font-size: 170%;
	position: absolute;
	top: 330pt;
	left:10pt;
}

.entName {
	background-color: #eef;
	border: 1pt solid #00f;
	margin: 10pt;
	position: absolute;
	top: 173pt;
	left: 400pt;
}

.entName p {
	font-family: sans-serif;
	font-style: italic;
	font-size: 150%;
	text-align: center;
}

.ladys {
	display:none;
}

.choosing {
	position: absolute;
	display: none;
	top: 373pt;
	left: 0pt;	
	transition: all 1s ease;
	width: 100%;
}

.choosing p {
	font-family: sans-serif;
	font-style: italic;
	font-size: 200%;
	margin: 0;
	position: absolute;
	top:10pt;
	left:20pt;
}

.choosing p:hover {
	color: #6c7414;
	cursor: default;
}

.choosing1 {
	display: none;
	opacity: 0;
	font-family: sans-serif;
	font-style: italic;
	font-size: 200%;
	margin: 0;
	position: absolute;
	top: 353pt; 
	width:100%;
	height: 0pt;	
	left:20pt;
}


.choosing1 p:hover {
	color: #6c7414;
	cursor: default;
}

.choosing2 {
	display: none;
	opacity: 0;
	font-family: sans-serif;
	font-style: italic;
	font-size: 200%;
	margin: 0;
	position: absolute;
	top: 383pt;
	width:100%;'
	height: 0pt;
	left:20pt;
	
}

.choosing2 p:hover {
	color: #6c7414;
	cursor: default;
}

.choosing3 {
	display: none;
	opacity: 0;
	font-family: sans-serif;
	font-style: italic;
	font-size: 200%;
	margin: 0;
	position: absolute;
	top: 413pt;
	width:100%;
	height: 0pt;
	left:20pt;
}

.choosing3 p:hover {
	color: #6c7414;
	cursor: default;
}

.streli {
	position: relative;
	top: 0pt;
	transition: 2s;
}

.accuracy {
	font-size: 400%;
	color: red;
	font-family: Monotype Corsiva;
	text-align: right;
}